* text=auto !eol
/.clang-format -text
/.travis.yml -text
/CMakeLists.txt -text
/CONTRIBUTING.md -text
/ChangeLog.rst -text
/LICENSE.rst -text
/README.rst -text
/README_EN.txt -text
/changelog.txt -text
doc/CMakeLists.txt -text
doc/_static/bootstrap.min.js -text
doc/_static/fonts/glyphicons-halflings-regular.eot -text
doc/_static/fonts/glyphicons-halflings-regular.svg -text
doc/_static/fonts/glyphicons-halflings-regular.ttf -text
doc/_static/fonts/glyphicons-halflings-regular.woff -text
doc/_templates/layout.html -text
doc/_templates/search.html -text
doc/api.rst -text
doc/basic-bootstrap/README -text
doc/basic-bootstrap/layout.html -text
doc/basic-bootstrap/theme.conf -text
doc/bootstrap/alerts.less -text
doc/bootstrap/badges.less -text
doc/bootstrap/bootstrap.less -text
doc/bootstrap/breadcrumbs.less -text
doc/bootstrap/button-groups.less -text
doc/bootstrap/buttons.less -text
doc/bootstrap/carousel.less -text
doc/bootstrap/close.less -text
doc/bootstrap/code.less -text
doc/bootstrap/component-animations.less -text
doc/bootstrap/dropdowns.less -text
doc/bootstrap/forms.less -text
doc/bootstrap/glyphicons.less -text
doc/bootstrap/grid.less -text
doc/bootstrap/input-groups.less -text
doc/bootstrap/jumbotron.less -text
doc/bootstrap/labels.less -text
doc/bootstrap/list-group.less -text
doc/bootstrap/media.less -text
doc/bootstrap/mixins.less -text
doc/bootstrap/mixins/alerts.less -text
doc/bootstrap/mixins/background-variant.less -text
doc/bootstrap/mixins/border-radius.less -text
doc/bootstrap/mixins/buttons.less -text
doc/bootstrap/mixins/center-block.less -text
doc/bootstrap/mixins/clearfix.less -text
doc/bootstrap/mixins/forms.less -text
doc/bootstrap/mixins/gradients.less -text
doc/bootstrap/mixins/grid-framework.less -text
doc/bootstrap/mixins/grid.less -text
doc/bootstrap/mixins/hide-text.less -text
doc/bootstrap/mixins/image.less -text
doc/bootstrap/mixins/labels.less -text
doc/bootstrap/mixins/list-group.less -text
doc/bootstrap/mixins/nav-divider.less -text
doc/bootstrap/mixins/nav-vertical-align.less -text
doc/bootstrap/mixins/opacity.less -text
doc/bootstrap/mixins/pagination.less -text
doc/bootstrap/mixins/panels.less -text
doc/bootstrap/mixins/progress-bar.less -text
doc/bootstrap/mixins/reset-filter.less -text
doc/bootstrap/mixins/resize.less -text
doc/bootstrap/mixins/responsive-visibility.less -text
doc/bootstrap/mixins/size.less -text
doc/bootstrap/mixins/tab-focus.less -text
doc/bootstrap/mixins/table-row.less -text
doc/bootstrap/mixins/text-emphasis.less -text
doc/bootstrap/mixins/text-overflow.less -text
doc/bootstrap/mixins/vendor-prefixes.less -text
doc/bootstrap/modals.less -text
doc/bootstrap/navbar.less -text
doc/bootstrap/navs.less -text
doc/bootstrap/normalize.less -text
doc/bootstrap/pager.less -text
doc/bootstrap/pagination.less -text
doc/bootstrap/panels.less -text
doc/bootstrap/popovers.less -text
doc/bootstrap/print.less -text
doc/bootstrap/progress-bars.less -text
doc/bootstrap/responsive-embed.less -text
doc/bootstrap/responsive-utilities.less -text
doc/bootstrap/scaffolding.less -text
doc/bootstrap/tables.less -text
doc/bootstrap/theme.less -text
doc/bootstrap/thumbnails.less -text
doc/bootstrap/tooltip.less -text
doc/bootstrap/type.less -text
doc/bootstrap/utilities.less -text
doc/bootstrap/variables.less -text
doc/bootstrap/wells.less -text
doc/build.py -text
doc/conf.py -text
doc/contents.rst -text
doc/fmt.less -text
doc/html/_sources/api.txt -text
doc/html/_sources/contents.txt -text
doc/html/_sources/index.txt -text
doc/html/_sources/syntax.txt -text
doc/html/_sources/usage.txt -text
doc/html/_static/ajax-loader.gif -text
doc/html/_static/basic.css -text
doc/html/_static/bootstrap.min.js -text
doc/html/_static/comment-bright.png -text
doc/html/_static/comment-close.png -text
doc/html/_static/comment.png -text
doc/html/_static/doctools.js -text
doc/html/_static/down-pressed.png -text
doc/html/_static/down.png -text
doc/html/_static/file.png -text
doc/html/_static/fmt.css -text
doc/html/_static/fonts/glyphicons-halflings-regular.eot -text
doc/html/_static/fonts/glyphicons-halflings-regular.svg -text
doc/html/_static/fonts/glyphicons-halflings-regular.ttf -text
doc/html/_static/fonts/glyphicons-halflings-regular.woff -text
doc/html/_static/jquery-1.11.1.js -text
doc/html/_static/jquery.js -text
doc/html/_static/minus.png -text
doc/html/_static/plus.png -text
doc/html/_static/pygments.css -text
doc/html/_static/searchtools.js -text
doc/html/_static/underscore-1.3.1.js -text
doc/html/_static/underscore.js -text
doc/html/_static/up-pressed.png -text
doc/html/_static/up.png -text
doc/html/_static/websupport.js -text
doc/html/api.html -text
doc/html/contents.html -text
doc/html/genindex.html -text
doc/html/index.html -text
doc/html/objects.inv -text
doc/html/search.html -text
doc/html/searchindex.js -text
doc/html/syntax.html -text
doc/html/usage.html -text
doc/index.rst -text
doc/python-license.txt -text
doc/syntax.rst -text
doc/usage.rst -text
include/fmt/chrono.h -text
include/fmt/color.h -text
include/fmt/compile.h -text
include/fmt/core.h -text
include/fmt/format-inl.h -text
include/fmt/format.h -text
include/fmt/locale.h -text
include/fmt/os.h -text
include/fmt/ostream.h -text
include/fmt/posix.h -text
include/fmt/printf.h -text
include/fmt/ranges.h -text
src/format.cc -text
src/os.cc -text
support/Android.mk -text
support/AndroidManifest.xml -text
support/C++.sublime-syntax -text
support/README -text
support/Vagrantfile -text
support/appveyor-build.py -text
support/appveyor.yml -text
support/build.gradle -text
support/cmake/FindSetEnv.cmake -text
support/cmake/cxx14.cmake -text
support/cmake/fmt-config.cmake.in -text
support/cmake/fmt.pc.in -text
support/compute-powers.py -text
support/docopt.py -text
support/fmt.pro -text
support/manage.py -text
support/rst2md.py -text
support/rtd/conf.py -text
support/rtd/index.rst -text
support/rtd/theme/layout.html -text
support/rtd/theme/theme.conf -text
support/travis-build.py -text
support/update-coverity-branch.py -text
test/CMakeLists.txt -text
test/add-subdirectory-test/CMakeLists.txt -text
test/add-subdirectory-test/main.cc -text
test/assert-test.cc -text
test/chrono-test.cc -text
test/color-test.cc -text
test/compile-error-test/CMakeLists.txt -text
test/compile-test.cc -text
test/core-test.cc -text
test/cuda-test/CMakeLists.txt -text
test/cuda-test/cpp14.cc -text
test/cuda-test/cuda-cpp14.cu -text
test/custom-formatter-test.cc -text
test/find-package-test/CMakeLists.txt -text
test/find-package-test/main.cc -text
test/format -text
test/format-dyn-args-test.cc -text
test/format-impl-test.cc -text
test/format-test.cc -text
test/fuzzing/CMakeLists.txt -text
test/fuzzing/README.md -text
test/fuzzing/build.sh -text
test/fuzzing/chrono_duration.cpp -text
test/fuzzing/fuzzer_common.h -text
test/fuzzing/main.cpp -text
test/fuzzing/named_arg.cpp -text
test/fuzzing/one_arg.cpp -text
test/fuzzing/sprintf.cpp -text
test/fuzzing/two_args.cpp -text
test/gmock-gtest-all.cc -text
test/gmock/gmock.h -text
test/grisu-test.cc -text
test/gtest-extra-test.cc -text
test/gtest-extra.cc -text
test/gtest-extra.h -text
test/gtest/gtest-spi.h -text
test/gtest/gtest.h -text
test/header-only-test.cc -text
test/header-only-test2.cc -text
test/locale-test.cc -text
test/mock-allocator.h -text
test/os-test.cc -text
test/ostream-test.cc -text
test/posix-mock-test.cc -text
test/posix-mock.h -text
test/printf-test.cc -text
test/ranges-test.cc -text
test/scan-test.cc -text
test/scan.h -text
test/std-format-test.cc -text
test/test-assert.h -text
test/test-main.cc -text
test/util.cc -text
test/util.h -text
